<h2>{{ quiz.text }}</h2>
<form action="{{ path('quizShow', {'id': quiz.quid, 'slug': quiz.slug}) }}" method="post">
    {% for question in quiz.ques %}
        <section>
            <h1>{{ question.text }}</h1>
            <ul style="list-style-type: none;">
                {% for answer in question.ans %}
                    <li>
                        {% if question.mult %}
                            <input
                                type="checkbox"
                                name="{{question.foid}}-{{answer.anid}}"
                                id="{{question.foid}}-{{answer.anid}}"
                                {% if answer.chck %} checked="checked" {% endif %}
                                />
                        {% else %}
                            <input 
                                type="radio" 
                                name="{{question.foid}}" 
                                id="{{question.foid}}-{{answer.anid}}" 
                                value="{{question.foid}}-{{answer.anid}}" 
                                {% if answer.chck %} checked="checked" {% endif %}
                                />
                        {% endif %}
                        <label for="{{question.foid}}-{{answer.anid}}">
                            <span 
                                {% if (answer.chck and answer.isri) %}
                                    style="color: green;"
                                {% elseif (answer.chck and not answer.isri) %}
                                    style="color: red;"
                                {% endif %}
                                >
                                {{ answer.text }}
                            </span>
                        </label>
                        {% if answer.chck %}
                            <p>
                                {{ answer.expl }}
                            </p>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </section>
        {% if quiz.corr %}
            <p>
                {{ question.expl }}
            </p>
        {% endif %}
    {% endfor %}
    {% if not quiz.corr %}
        <input type="submit" />
    {% endif %}
</form>